appnope
asttokens
attrs
autopep8
backcall
beautifulsoup4
bs4
cycler
debugpy
decorator
entrypoints
executing
fonttools
iniconfig
ipykernel
ipython
jedi
jupyter-client
jupyter-core
kiwisolver
lxml
matplotlib
matplotlib-inline
ndjson
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
pluggy
prompt-toolkit
ptyprocess
pure-eval
py
pycodestyle
Pygments
pyparsing
pytest
python-dateutil
pytz
pyzmq
scipy
seaborn
six
soupsieve
stack-data
toml
tomli
tornado
tqdm
traitlets
wasabi
wcwidth